<<<<<<< HEAD:css/Dragon.css
@import url('https://fonts.googleapis.com/css?family=Alegreya');

* {
  margin: 0;
  padding: 0;


}

html, body {
  height: 100%;
font-family: 'Alegreya', serif;
  background-color: white;
}

    





img {
  max-width: 100%;
}

.flex-contents {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}





.header {
 flex: 1;
 display: flex;
  flex-direction: row;
 align-items: center;
 align-content: center;
  padding: 10px;
  background: black;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding-top: 60px;
  background: #000;
  transition: 0.7s all;
  z-index: 100;
  position: fixed;}

body.header-fixed header {
  position: fixed;
 padding: 10px;
 
  width: 100%;
  
  z-index: 2;
    height: 55px;
}
.header a {
  color: white;
  text-decoration: none;}

nav a:hover {
color: blue;
text-decoration: none;}

.header .logo {
 flex: 4;}

.header nav {
 flex: 6;}



.navbar  {
      height: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      flex-direction: row;}

.navbar ul  {
      flex: 1;
      display: flex;
  justify-content: space-around;
      margin: 0;
      list-style: none inside;
      min-height: 100%;
}
.navbar ul li {
       flex: 1;
       display: flex;
        flex-direction: row;
        justify-content: center;
    font-family: 'Cormorant Garamond', serif;
  margin-top: 7px;
    font-size: 15px;
}

main {  flex: 8; }

.footer {  flex: 1;}

.info {
        padding-top: 100px;
        width: 100%;
        display: flex;
       flex-direction: column;
  margin-top: 40px;
 flex-wrap: wrap;
       justify-content: center;
        align-items: center;
  flex-wrap:wrap;
        background-color: black;
        position: relative;
        font-size: 50px;
         min-height: 300px;
      

      }

.news {
    
      color: black;

text-align: justify;
      display: flex;
      flex-wrap: wrap;
       flex-direction: column;
	
  justify-content: flex-start; }
   
  .news2 {
      color: black;
      padding-left: 10%;
	        padding-right: 10%;
			margin-top: 20px;
font-size: 20px;
text-align: justify;
      display: flex;
      flex-wrap: wrap;
	    font-family: 'Cormorant Garamond', serif;
       flex-direction: column;
      justify-content: flex-start;
	 

}


.footer {
  padding: 1rem;
  background: white;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color:black;
  margin-top: 20px;
}


  .carousel {
            height: 450px;
            background: linear-gradient(90deg, #000000, #2e6796, #000000);
      width: 100%;
        }
        
              
  

      .carousel   h3 {
            font-size: 24px;
            margin-top: 10px;
            color: black;
            font-family:Roboto, sans-serif;
          
        }
        
     .carousel   p {
            font-size: 18px;
            margin-top: 200px;
            color: black;
            font-family: 'EB Garamond', serif;
            font-style: italic;
          
        }
        
    .image {
  position: relative;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.image img {
  width: 100%;
  min-height: 100%;
  display: block;
}
.image .title {
  position: absolute;
  margin-top: -200px;
  left: 30px;
  color: #fff;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  font-family: 'Noto Sans', sans-serif;
}
.image .description {
  position: absolute;
  display: none;
  left: 30px;
  right: 30px;
  color: #fff;
  font-family: 'Sanchez', serif;
  font-size: 30px;
}
.image:hover {
  background: #333;
}
.image:hover img {
  opacity: .3;
}
.image:hover .description {
  display: block;
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
@-webkit-keyframes slide-up {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 15%;
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 15%;
    opacity: 1;
  }
}

        

@media (max-width: 500px) {
.header {
flex-direction: column;
padding: 0;
  position: static;
  

  }
  
   .carousel   p {
            font-size: 18px;
            margin-top: 150px;
            color: black;
            font-family: 'EB Garamond', serif;
            font-style: italic;
            weight: 400;
        }
.description {
display: none; }

.image {
display: none} 
.navbar  {
    
      padding: 0;
      display: flex;
      justify-content: center;
  flex-direction: column;}
  

.navbar ul  {
     
     flex-direction: column;}
  
  .info {
    margin-top: -100px;
  }
  body.header-fixed header {
 display: none;
}

}


=======
@import url('https://fonts.googleapis.com/css?family=Alegreya');

* {
  margin: 0;
  padding: 0;


}

html, body {
  height: 100%;
font-family: 'Alegreya', serif;
  background-color: white;
}

    





img {
  max-width: 100%;
}

.flex-contents {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}





.header {
 flex: 1;
 display: flex;
  flex-direction: row;
 align-items: center;
 align-content: center;
  padding: 10px;
  background: black;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding-top: 60px;
  background: #000;
  transition: 0.7s all;
  z-index: 100;
  position: fixed;}

body.header-fixed header {
  position: fixed;
 padding: 10px;
 
  width: 100%;
  
  z-index: 2;
    height: 55px;
}
.header a {
  color: white;
  text-decoration: none;}

nav a:hover {
color: blue;
text-decoration: none;}

.header .logo {
 flex: 4;}

.header nav {
 flex: 6;}



.navbar  {
      height: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      flex-direction: row;}

.navbar ul  {
      flex: 1;
      display: flex;
  justify-content: space-around;
      margin: 0;
      list-style: none inside;
      min-height: 100%;
}
.navbar ul li {
       flex: 1;
       display: flex;
        flex-direction: row;
        justify-content: center;
    font-family: 'Cormorant Garamond', serif;
  margin-top: 7px;
    font-size: 15px;
}

main {  flex: 8; }

.footer {  flex: 1;}

.info {
        padding-top: 100px;
        width: 100%;
        display: flex;
       flex-direction: column;
  margin-top: 40px;
 flex-wrap: wrap;
       justify-content: center;
        align-items: center;
  flex-wrap:wrap;
        background-color: black;
        position: relative;
        font-size: 50px;
         min-height: 300px;
      

      }

.news {
    
      color: black;

text-align: justify;
      display: flex;
      flex-wrap: wrap;
       flex-direction: column;
	
  justify-content: flex-start; }
   
  .news2 {
      color: black;
      padding-left: 10%;
	        padding-right: 10%;
			margin-top: 20px;
font-size: 20px;
text-align: justify;
      display: flex;
      flex-wrap: wrap;
	    font-family: 'Cormorant Garamond', serif;
       flex-direction: column;
      justify-content: flex-start;
	 

}


.footer {
  padding: 1rem;
  background: white;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color:black;
}


  .carousel {
            height: 450px;
            background: linear-gradient(90deg, #000000, #2e6796, #000000);
      width: 100%;
        }
        
              
  

      .carousel   h3 {
            font-size: 24px;
            margin-top: 10px;
            color: black;
            font-family:Roboto, sans-serif;
            weight: 600;
        }
        
     .carousel   p {
            font-size: 18px;
            margin-top: 200px;
            color: black;
            font-family: 'EB Garamond', serif;
            font-style: italic;
            weight: 400;
        }
        
    .image {
  position: relative;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.image img {
  width: 100%;
  min-height: 100%;
  display: block;
}
.image .title {
  position: absolute;
  margin-top: -200px;
  left: 30px;
  color: #fff;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  font-family: 'Noto Sans', sans-serif;
}
.image .description {
  position: absolute;
  display: none;
  left: 30px;
  right: 30px;
  color: #fff;
  font-family: 'Sanchez', serif;
  font-size: 30px;
}
.image:hover {
  background: #333;
}
.image:hover img {
  opacity: .3;
}
.image:hover .description {
  display: block;
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
@-webkit-keyframes slide-up {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 15%;
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 15%;
    opacity: 1;
  }
}

        

@media (max-width: 500px) {
.header {
flex-direction: column;
padding: 0;
  position: static;
  

  }
  
   .carousel   p {
            font-size: 18px;
            margin-top: 150px;
            color: black;
            font-family: 'EB Garamond', serif;
            font-style: italic;
            weight: 400;
        }
.description {
display: none; }

.image {
display: none} 
.navbar  {
    
      padding: 0;
      display: flex;
      justify-content: center;
  flex-direction: column;}
  

.navbar ul  {
     
     flex-direction: column;}
  
  .info {
    margin-top: -100px;
  }
  body.header-fixed header {
 display: none;
}

}


>>>>>>> 7ed5b0e452cd92a12253cc93087d3949e63de547:Dragon.css
