* {
  margin: 0;
  padding: 0;


}

.flex-contents {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.whiteblock {
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
padding: 5%;

  text-align: justify;
    font-size: 20px;
  background-color: white;
}

.header {
 flex: 1;
 display: flex;
 align-items: center;
 align-content: center;
  padding: 10px;
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding-top: 50px;
  background: #000;
  transition: 0.7s all;
  z-index: 100;
  }


.header a {
  color: white;
  text-decoration: none;

}
.header .logo {
 flex: 4;
}
.header nav {
 flex: 6;
 
}

.logo {
  margin: 0;

 
}

.navbar  {
      height: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      flex-direction: row;}

.navbar ul  {
      flex: 1;
      display: flex;
  justify-content: space-around;
      margin: 0;
      list-style: none inside;
      min-height: 100%;
}
.navbar ul li {
       flex: 1;
       display: flex;
        flex-direction: row;
        justify-content: center;
  margin-top: 12px;
    font-size: 15px;
}


nav a:hover {
color: blue;}

.container {

  display: flex;
  
      align-content: center;
  
          align-items: center;
 
          flex-direction: column;
  
      flex-wrap: nowrap;
  height: 100%;
 
      justify-content: space-around;
  position: relative;
  width: 100%;
}
.container section {
  width: 100%;
  height: 100vh;
  
          flex: 1;

  display: flex;
  text-align: center;
  position: relative;
overflow: hidden;
    background-color: #000;

}
.container section:nth-child(1) .image {
  background-image: url(https://pp.userapi.com/c841438/v841438794/653fb/IL5xvo4mGzk.jpg);
}
.container section:nth-child(2) .image {
  background-image: url(https://pp.userapi.com/c841438/v841438794/65405/ldTRAOrJxO0.jpg);
}
.container section:nth-child(3) .image {
  background-image: url(https://pp.userapi.com/c841537/v841537772/60d92/AY--t80oXXY.jpg);
}
.container section:nth-child(4) .image {
 background-image: url(https://cs.pikabu.ru/post_img/big/2013/11/18/8/1384775795_1026843613.jpg);
}

.container section .image {

  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 500;
  opacity: 1;
 
}

.footer {
  padding: 1rem;
  background: white;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color:black;
}

.container section .stuff {

  display: flex;

      
          flex-direction: column;

      flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 70%;
 
          justify-content: center;
  text-align: justify;
  z-index: 1000;
  color: white;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
}
.container section .stuff h2 {
  margin: 0px;
}
.container section .stuff:before, .container section .stuff:after {
  width: 100%;
  height: 1px;
  display: block;
  background-color: white;
  content: "";
  margin: 30px 0;
}




@media (max-width: 700px) {

.header {
flex-direction: column;
padding: 0;
  position: static; }

.navbar  {
    
      padding: 0;
      display: flex;
      justify-content: center;
  flex-direction: column;}
  

.navbar ul  {
     
     flex-direction: column;
  padding-bottom: 10px;}
  
  .container {
    display: none;
  }
  body.header-fixed header {
 display: none;
}
}
